.data-page {
  .search-card {
    margin-bottom: 16px;

    :global(.ant-form-item) {
      margin-bottom: 16px;
    }
  }

  .table-card {
    :global(.ant-card-head) {
      border-bottom: 1px solid #f0f0f0;
    }
  }
}
